body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listing {
    display: table;
}
.listHeader {
    display: table-header-group;
}
.listBody {
    display: table-row-group;
}
.fruitItem {
    display: table-row;
}
.fruitName, .fruitColors, .fruitInSeason, .colHeader {
    display: table-cell;
}
